<!--  <div class="container">
  <app-libro-details></app-libro-details>
</div>

<h1>Angular Router App</h1>
 This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/books" routerLinkActive="active"></a><app-libro-details></app-libro-details></li>
    <li><a routerLink="/Editoriales" routerLinkActive="active"></a><app-editorial-details></app-editorial-details></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>
<router-outlet></router-outlet>-->